:root {
  --color-primary: white;
  /* --background-image: url("../images/kai-pilger-Ef6iL87-vOA-unsplash.jpg"); */
  --opacity: 1;
}

body {
  /* background image */
  /* background-image: url("../images/kai-pilger-Ef6iL87-vOA-unsplash.jpg"); */
  background-image: url("../images/Webp.net-resizeimage\ \(1\).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* position */
  z-index: -1;

  /* text  */
  font-family: "Open Sans", sans-serif;
  /* font-family: sans-serif; */
  font-weight: 300;
  color: var(--color-primary);
}

.title {
  /* position */
  text-align: center;
  padding-top: 6%;
  margin-bottom: 2%;

  /* text */
  font-size: 100px;
  opacity: var(--opacity);

  /* position */
  z-index: 0;
}

.paragraph-container {
  /* position */
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.paragraph {
  /* size */
  width: 800px;

  /* position */
  text-align: center;
  margin-top: 0;

  /* text */
  font-size: 30px;
  opacity: var(--opacity);
}

.city {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
}

.link-container {
  /* position */
  display: flex;
  justify-content: center;
}

.icon-link {
  /* position */
  margin: 10px;

  /* text */
  font-size: 50px;

  /* shape */
  border-radius: 6px;
}

.icon-link:hover {
  transform: scale(1.2);
}

.link {
  /* text */
  text-decoration: none;
  color: var(--color-primary);
  opacity: var(--opacity);
}

#github:hover {
  color: #ef9a9a;
}

#devto:hover {
  color: #a5d6a7;
}

#twitter:hover {
  color: #81d4fa;
}

#email:hover {
  color: #b39ddb;
}

.lang-select {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
}

@media (max-height: 680px), screen and (orientation: portrait) {
  .title {
    padding-top: 4%;

    font-size: 150px;
  }

  .paragraph {
    font-size: 40px;
  }

  .icon-link {
    margin: 15px;

    font-size: 140px;
  }

  .lang-select {
    width: 200px;
    padding: 15px;
    font-size: 30px;
    margin: 15px;
  }
  .lang-select > option {
    font-size: 30px;
  }
}

/* Bob animation */

/*===================*/
/* Source: https://codepen.io/techshiva/pen/MRbKrQ
/*===================*/

@-webkit-keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-animation-name: bob-on-hover-float, bob-on-hover;
  animation-name: bob-on-hover-float, bob-on-hover;
  -webkit-animation-duration: 0.5s, 1.7s;
  animation-duration: 0.5s, 1.7s;
  -webkit-animation-delay: 0s, 0.5s;
  animation-delay: 0s, 0.5s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.rocket {
  font-size: 60px;
  position: absolute;
  top: 70%;
  bottom: 20px;
  visibility: hidden;
}

.launch {
  animation: launch 20s ease-in 20s infinite;
}

@keyframes launch {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: visible;
    transform: translateX(1200px) translateY(-1200px);
  }
  40% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: translateX(0px) translateY(0px);
  }
}

/* @keyframes launch-rtl {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    transform: translateX(-1200px) translateY(1200px);
  }
} */

.astronaut {
  width: 60px;
  position: absolute;
  top: 80%;
}

@keyframes float {
  0% {
    visibility: visible;
    transform: translateX(0vw) rotate(0);
    /* transform: translateX(0px) rotate(0); */
  }
  100% {
    transform: translateX(90vw) rotate(360deg);
    /* transform: translateX(2000px) rotate(360deg); */
    visibility: hidden;
    /* overflow: hidden; */
  }
}

@keyframes say-hi {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  40% {
    visibility: visible;
    opacity: 0;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.speech-bubble {
  position: absolute;
  background: white;
  border-radius: 0.4em;
  padding: 10px;
  bottom: 20px;
  left: 35px;
  color: black;
  font-size: 30px;

  visibility: hidden;
  animation: say-hi 15s linear 1;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.float {
  position: absolute;
  top: 80%;

  animation: float 15s linear 1;
  visibility: hidden;
}

.star {
  position: absolute;
  /* color: white; */
  background-color: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 3;

  animation: glowing-stars 2s linear infinite;
}

.star-1 {
  right: 200px;
  top: 100px;
}

.star-2 {
  right: 400px;
  top: 100px;
}

.star-3 {
  right: 800px;
  top: 100px;
}

.star-4 {
  right: 800px;
  top: 400px;
}

.star-5 {
  right: 800px;
  top: 800px;
}

.star-6 {
  right: 200px;
  top: 835px;
}

.star-7 {
  right: 1200px;
  top: 800px;
}
.star-8 {
  right: 1190px;
  top: 676px;
}

.star-9 {
  right: 1100px;
  top: 760px;
}

.star-10 {
  right: 600px;
  top: 800px;
}

.star-11 {
  right: 600px;
  top: 500px;
}

.star-12 {
  right: 300px;
  top: 500px;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
