:root {
  --color-primary: white;
  --background-image: url("../images/kai-pilger-Ef6iL87-vOA-unsplash.jpg");
  --opacity: 1;
}

body {
  /* background image */
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* position */
  z-index: -1;

  /* text  */
  font-family: "Cairo", sans-serif;
  /* font-family: "Markazi", sans-serif;
  font-family: "Aref Ruqaa", sans-serif;
  font-family: "Katibeh", sans-serif; */
  color: var(--color-primary);
}

#particles-js {
  /* display: inline; */
  position: fixed;
  width: 90%;
  z-index: -10;
}

.title {
  /* position */
  text-align: center;
  padding-top: 6%;
  margin-bottom: 2%;

  /* text */
  font-size: 100px;
  opacity: var(--opacity);

  /* position */
  z-index: 0;
}

.paragraph-container {
  /* position */
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.paragraph {
  /* size */
  width: 800px;

  /* position */
  text-align: center;
  margin-top: 0;

  /* text */
  font-size: 30px;
  opacity: var(--opacity);
}

.city {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
}

.link-container {
  /* position */
  display: flex;
  justify-content: center;
}

.icon-link {
  /* position */
  margin: 10px;

  /* text */
  font-size: 50px;

  /* shape */
  border-radius: 6px;
}

.icon-link:hover {
  transform: scale(1.2);
}

.link {
  /* text */
  text-decoration: none;
  color: var(--color-primary);
  opacity: var(--opacity);
}

#github:hover {
  color: #ef9a9a;
}

#devto:hover {
  color: #a5d6a7;
}

#twitter:hover {
  color: #81d4fa;
}

#email:hover {
  color: #b39ddb;
}

.lang-select {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
}

@media (max-height: 680px), screen and (orientation: portrait) {
  #particles-js {
    display: none;
  }
  .title {
    padding-top: 4%;

    font-size: 150px;
  }

  .paragraph {
    font-size: 40px;
  }

  .icon-link {
    margin: 15px;

    font-size: 140px;
  }

  .lang-select {
    width: 200px;
    padding: 15px;
    font-size: 30px;
    margin: 15px;
  }
  .lang-select > option {
    font-size: 30px;
  }
}

/* Bob animation */

/*===================*/
/* Source: https://codepen.io/techshiva/pen/MRbKrQ
/*===================*/

@-webkit-keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-animation-name: bob-on-hover-float, bob-on-hover;
  animation-name: bob-on-hover-float, bob-on-hover;
  -webkit-animation-duration: 0.5s, 1.7s;
  animation-duration: 0.5s, 1.7s;
  -webkit-animation-delay: 0s, 0.5s;
  animation-delay: 0s, 0.5s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
